@model IdentitySample.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container" style="direction:rtl;margin-top:100px;">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form">
                <fieldset>
                    <h2 class="text-center">ورود به سایت</h2>
                    <hr class="colorgraph">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="text-center" style="margin-top:10px;margin-bottom:20px;">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <img id="imgcpatcha" src="@Url.Action("Image", "Captcha")" style="margin-top: 5px" />
                                    <a href="" onclick="additem()" id="refresh" title="تغییر تصویر" data-toggle="tooltip" data-placement="top" style="margin-right: 20px;margin-top: 10px">
                                        <i class="fa fa-refresh" style="font-size: 15px !important"></i>
                                        تغییر تصویر
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <input type="text" name="captchatext" id="captchatext" class="form-control input-lg" placeholder="جمع مقابل را وارد کنید">
                                </div>

                            </div>
                        </div>*@
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="info">مرا به خاطر بسپار</button>
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "hidden", id = "remember_me",name= "remember_me" })
                        </span>

                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="ورود">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="/Account/Register" class="btn btn-lg btn-primary btn-block">ثبت نام</a>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <p class="text-center">
                                @Html.ActionLink("پسورد خود را فراموش کرده ام", "ForgotPassword")
                            </p>
                        </div>
                    }
                </fieldset>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script>

    function additem() {
        $("#imgcpatcha").attr("src", "/Captcha/Image");
    }


</script>*@